@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap");

/* Animations */

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* General */

body {
  font-family: "Raleway", sans-serif !important;
  font-weight: 300 !important;
}

.background-image {
  width: 100%;
  height: 100%;
  background-image: url("assets/background_image.webp");
  position: fixed;
  animation: animatedBackground 120s linear infinite alternate;
}

.container-full-height{
  height: 100vh;
  width: 100vw;
  position: relative;
}

.container-white{
  background-color: rgba(255, 255, 255, 1);
  height: 85%;
  width: 85%;
  position: absolute;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 18px -2px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 18px -2px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 18px -2px rgba(0, 0, 0, 1);
}

.header h1 {
  font-size: calc(2.5vh + 3.5vw);
  margin-bottom: 4vh;
}

.container-big {
  height: 100%;
  width: 80%;
  font-weight: 500 !important;
}

/* Logo */

.image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2vh;
  margin-top: calc(2vh + 1vw);
}

.top-image {
  position: absolute;
  width: calc(7.5vh + 1.5vw);
}

.top-image:hover {
  cursor: pointer;
}

.bottom-image {
  width: calc(7.5vh + 1.5vw);
  animation: spin 30s linear infinite;
}

/* Home */

.shortened-url:hover,
.shortened-url-button:hover {
  transform: scale(1.07) !important;
}

.bottom-text {
  font-size: calc(85% + 0.5vw) !important;
}

/* Shortening settings */

.expire-form{
  width: 4rem;
}

.expiry-switch{
  margin-left: 0rem!important;
  margin-right: 0.5rem!important;
  display: flex;
  align-self: center;
}

.custom-url-form{
  width: calc(2rem + 8vw);
}

.form-switch{
  padding-left: 0;
  display: flex;
  align-self: center;
}

.form-control:focus {
  border-color: #4f9aac;
  box-shadow: #81b1bb;
}

.form-switch .form-check-input:focus {
  border-color: rgba(0, 0, 0, 0.25);
  outline: 0;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

.form-switch .form-check-input:checked {
  background-color: #81b1bb;
  border: none;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  border-color: #D7B1D7;
  background-color: #D7B1D7;
}

.btn-outline-secondary{
  border-color: var(--bs-border-color);
}

.btn-outline-secondary:hover{
  border-color: var(--bs-border-color);
  background-color: #4f9aac;
}

.settings-icon{
  width: 1.3rem;
}

.vertical-line{
  border-left: 1px solid #e2e2e2;
  height: 3.5vh;
  display: none;
}

.advanced-settings-input{
  height: 1.5rem;
}

.advanced-options {
  flex-direction: column;
  align-items: flex-start;
}

.advanced-options > div {
  margin-bottom: 1vh;
}

.expiry{
  flex-direction: column;
}

.expiry-container{
  margin-top: 0.4rem;
}

/* Cookie banner */

.cookie-banner {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 1.3vh;
  z-index: 1000;
  display: flex;
  justify-content: center;
}

.empty-banner {
  height: 5vh;
}

/* Scrollables */

.scrollable-content {
  max-height: 200%;
  padding-left: 6vw;
  padding-right: 6vw;
  word-break: break-word !important;
}

.scrollable-text-container {
  border-top: 1px solid #e2e2e2;
  height: 26%;
}

.scrollable-text-container h2 {
  text-align: center;
  margin-top: 4%;
  margin-bottom: 3%;
}

.os-scrollbar {
  --os-size: 6px;
  --os-padding-axis: 4vh;
  --os-handle-border-radius: 10px;
  --os-handle-bg: #e2e2e2;
  --os-handle-bg-hover: #cccccc;
  --os-handle-bg-active: #cccccc;
  --os-handle-min-size: 20%;
  --os-handle-max-size: 20%;
}

/* Buttons */

.btn-primary,
.btn-primary:active,
.btn-primary:visited {
  background-color: #529ab1 !important;
  transition: 0.7s;
  border: none !important;
}

.btn:hover {
  transform: scale(1.01);
}

.btn-primary:hover {
  background-color: #3b6d7e !important;
}

/* Links */

a, .text-blue {
  color: #529ab1 !important;
}

a:hover,
a:active,
a:visited,
a:link {
  text-decoration: none;
}

/* Responsiveness */
@media (max-width: 1080px) {

  .scrollable-text-container {
    height: 30% !important;
  }

  .scrollable-text-container h2 {
    margin-top: 10% !important;
    margin-bottom: 10% !important;
  }

  .scrollable-content {
    padding-left: 4vw !important;
    padding-right: 4vw !important;
    text-align: center !important;
  }

  .container-big {
    width: 85% !important;
  }

  ul {
    text-align: center;
    list-style-position: inside !important;
    padding-left: 0 !important;
  }
  ul li {
    margin-bottom: 1.5vh !important;
  }

  .cookie-banner {
    flex-direction: column;
    align-items: center;
  }

  .cookie-banner > .cookie-text {
    text-align: center;
    margin-bottom: 0.7vh;
  }
}

@media (min-width: 1200px) {
  .advanced-options {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .vertical-line{
    display: block;
    border-left: 1px solid #e2e2e2;
    height: 3.5vh;
  }

  .advanced-options > div {
    margin-bottom: 0;
  }
}

@media (min-width: 400px) {
  .expiry{
    flex-direction: row;
    align-items: flex-start!important;
  }

  .expiry-container{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0.6rem;
  }
}