<div class="container-big">

    <header class="text-center py-3 header">
        <a href="/"><img src="logo.png" alt="logo" class="mb-3 logo"></a>
        <h1 class="display-4 title">about.</h1>
    </header>

</div>
