<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="URL Shortener built with Express.js and MongoDB Atlas." />
    <meta name="keywords" content="url, shortener, save, some, space, shorten, link" />
    <meta name="robots" content="noindex, nofollow"> 
    <meta name="author" content="Wojciech Bartoszek" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script type="module" src="/render_short_url.js"></script> 
    <title>URL Shortener</title>
</head>

<body>

    <div class="background-image"></div>

    <div class="container-full-height">

        <div class="container-big">

            <header class="text-center py-3 header">
                <a href="https://savesome.space"><img src="logo.png" alt="logo" class="mb-3 logo"></a>
                <h1 class="display-4 title">save some space.</h1>
            </header>

            <div class="container px-2 my-5">
                <form id="url-form" action="/shortUrls" method="POST">
                    <input type="url" class="form-control mb-3" id="fullUrl" name="fullUrl" placeholder="example.com" required>
                    <div class="d-grid">
                        <button class="btn btn-primary btn-lg" id="submitButton" type="submit">shorten link</button>
                    </div>
                </form>

                <div id="shortenedUrlDisplay" class="text-center h4 shortened-url-display">
                    </div>
            </div>
        </div>

        <div class="text-center">
            <div class="h2 bottom-text">check out my projects on <a href="https://github.com/f4rys">github</a>.</div>
        </div>

    </div>
</body>
</html>
